.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.fab-container {
  z-index:5;
  position : fixed;
  display : flex;
  align-self : flex-end;
  bottom : 10vh;
  right: 10vw
}
