<div class="container"
     fxLayout="column"
     fxLayoutAlign="center"
     fxFlex="60%"
     fxFlexOffset="20%"
     fxFlex.lt-sm="100%"
     fxFlexOffset.lt-sm="0">
  <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
    <mat-tab label="Hot">
      <post-stream sort="hot" (scroll)="onScroll($event)"></post-stream>
    </mat-tab>
    <mat-tab label="New">
      <post-stream sort="new" (scroll)="onScroll($event)"></post-stream>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="fab-container">
  <button mat-fab>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
</div>
